.custom-badge-cardProducts {
  background-color: #e48e29 !important;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-left: -2rem;
  margin-top: 1rem;
}

.custom-badge-cardProducts2 {
  background-color: #e42a2a !important;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  align-content: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-left: -2rem;
  margin-top: 1rem;
}

.btn-chart-cardProducts,
.btn-chart-cardProducts:hover,
.btn-chart-cardProducts:active {
  background-color: #e42a2a;
  border-color: #e42a2a;
  justify-content: center;
  border-radius: 20px;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
}

.btn-chart-cardProducts:hover {
  background-color: #ff3636;
  border-color: #ff3636;
}

.btn-chart-cardProducts:active {
  background-color: #e42a2a !important;
  border-color: #e42a2a !important;
}

.card-title-cardProducts,
.price-tag-cardProducts {
  font-weight: bold;
  font-size: 15px;
}

.weight-tag-cardProducts {
  color: #858181;
  font-size: 13px;
}
