@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.home-first {
  font-family: "Oleo Script", system-ui;
  font-size: 80px;

  .text-leftup {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #461a0f;
  }
  .text-middle {
    color: #461a0f;
    font-size: 100px;
  }
  .text-leftdown {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #461a0f;
  }
}
